.saintalk {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.navbar-saintalk {
    background-color: #287b30;
}

.text-saintalk {
    color: #287b30;
    font: bold;
    font-weight: bold;
}

.swal2-container {
    z-index: 5000;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 3rem !important;
}

.password-wrapper .form-control.is-invalid {
    background-image: none !important;
}

#toggle-password-icon {
    position: absolute;
    right: 15px;
    top: 52%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}

#wrapper {
    display: flex;
    height: 100vh;
}

#wrapper #accordionSidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
}

#content-wrapper {
    height: 100vh;
    overflow-y: auto;
    width: 100%;
}

#content-wrapper #content .topbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3000;
}

#close-sidebar-button {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    color: white;
    z-index: 4000;
}

@media (max-width: 768px) {
    body.sidebar-toggled #content-wrapper {
        margin-left: 0 !important;
    }

    #wrapper #accordionSidebar {
        position: fixed !important;
        z-index: 4000;
    }
}
